<div
  class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
    <img
      class="mx-auto h-12 w-auto"
      src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg"
      alt="Oxymoron Stock"
    />
    <h2
      class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900"
    >
      A management of your own
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="sm:mt-0 md:col-span-2">
      <app-sing-up (onSubmit)="onSubmit($event)"></app-sing-up>
    </div>
  </div>
</div>
